.text_big{
  position: absolute;
width: 504px;
height: 210px;
left: 56px;
top: 150px;
font-family: 'Wix Madefor Display', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 85px;
line-height: 115px;
text-align: center;

color: #B6555A;
}

.text_small{
position: absolute;
width: 50%;
height: 50%;
left: 62px;
margin: 5px;
top: 380px;
font-family: 'Wix Madefor Display', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #7D7D7D;
}

.navbtn {
  /* display: block; */
  margin: 10px auto;
  background: #B6555A;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  border: 0px;
  width: 300px; /* Adjust the width as needed */
  display: flex;
  justify-content: center;
}


.icons{
  display: flex;

  justify-content: center;
  margin: 10px 10px;
  position: absolute;
  color: white;
  border: 0px;
  width: 100%; /* Adjust the width as needed */
  
}


.LandPage_image{
  background-image: url(../assets/Lpimg.png);
  background-size:100%;
  font-family: Montserrat,sans-ser;
  float: right;
  margin: -15px 15px 0px 15px;
  height: 580px;
  width: 50%;
  opacity: 1px;
}



.gplay{
  background-image: url(../assets/gplay.png);
  background-color: white;
  background-size:contain;
  margin-left: 10px;
  /* background: no-repeat; */
  border: 0px;
  position: relative;
  width: 130px;
  height: 55px;
  left: 60px;
  padding: 20px;
  top: -4px;
}

.aplay{
  position: absolute;
width: 130px;
height: 38px;
left: 180px;
/* top: 483px; */
background-image: url(../assets/apstore.png);
border-radius: 5px;
}

.Landpage_footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: auto auto;
  width: 100%;
  height: 120px; /* Adjust the height as needed */
  background-image: url(../assets/footer.png);
  background-size: cover;
}