.text_big{
  position: absolute;
width: 504px;
height: 210px;
left: 56px;
top: 150px;
font-family: 'Wix Madefor Display', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 85px;
line-height: 115px;
text-align: center;

color: #B6555A;
}

.text_small{
position: absolute;
width: 50%;
height: 50%;
left: 62px;
margin: 5px;
top: 380px;
font-family: 'Wix Madefor Display', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #7D7D7D;
}
.navbtn {
  display: block;
  margin: 20px auto;
  background: #B6555A;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  color: white;
  border: 0px;
  width: 300px; /* Adjust the width as needed */
}


.icons{
  position: absolute;
/* width: 100px;
margin: 5px; */
left: 137px;
  color: white;
  border: 0px;
  width: 300px; /* Adjust the width as needed */
}


.LandPage_image{
  background-image: url(../assets/Lpimg.png);
  background-size:100%;
  font-family: Montserrat,sans-ser;
  float: right;
  margin: -15px 15px 0px 15px;
  height: 580px;
  width: 50%;
  opacity: 1px;
}

.gplay{
  background-image: url(../assets/gplay.png);
  background-color: white;
  background-size: cover;
  border: 0px;
  position: absolute;
  width: 146px;
  height: 146px;
  left: 116px;
  top: 450px;
}

.aplay{
  position: absolute;
width: 133px;
height: 40px;
left: 260px;
top: 503px;
background-image: url(../assets/apstore.png);
border-radius: 5px;
}

.Landpage_footer{
  position: absolute;
width: 1310px;
height: 250px;
/* left: -123.09px; */
top: 600px;
background-image: url(../assets/footer.png);
background-size: cover;}