.text_big{
  position: absolute;
width: 439px;
height: 210px;
left: 56px;
top: 150px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 115px;
text-align: center;

color: #B6555A;
}

.text_small{
position: absolute;
width: 469px;
height: 100px;
left: 62px;
top: 380px;

font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

color: #7D7D7D;
}


.LandPage_image{
  background-image: url(../assets/Lpimg.png);
  background-size:100%;
  font-family: Montserrat,sans-ser;
  float: right;
  margin: -15px 15px 0px 15px;
  height: 580px;
  width: 50%;
  opacity: 1px;
}

.gplay{
  background-image: url(../assets/gplay.png);
  background-color: white;
  background-size: cover;
  border: 0px;
  position: absolute;
  width: 146px;
  height: 146px;
  left: 116px;
  top: 450px;
}

.aplay{
  position: absolute;
width: 133px;
height: 40px;
left: 260px;
top: 503px;
background-image: url(../assets/apstore.png);
border-radius: 5px;
}

.Landpage_footer{
  position: absolute;
width: 1310px;
height: 250px;
/* left: -123.09px; */
top: 600px;
background-image: url(../assets/footer.png);
background-size: cover;}